{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'ref/main.css' %}">
</head>
    <header>
        <div class="block-header">
            <div class="block-1">
                <img src="https://cdn2.iconfinder.com/data/icons/cat-power/256/cat_clean.png" alt="Котейка">
                <p>Уберем все лишнее из ссылки!</p>
            </div>
            <div class="block-2">
                <a href="{% url 'ref-home' %}">Главная</a>
                <a href="">Про нас</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'ref' %}">Ссылки</a>
                    <a href="{% url 'profile' %}">Личный кабинет</a>
                {% else %}
                    <a href="{% url 'auth' %}">Войти</a>
                    <a href="{% url 'reg' %}">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </header>
<body>
    {% block main_section %}
    {% endblock %}
</body>
</html>